@model AtomBlog.Domain.AtomDomainModel.Post

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Post</legend>

    <div class="display-label">Blog</div>
    <div class="display-field">@(Model.Blog == null ? "None" : Model.Blog.Title)</div>

    <div class="display-label">Title</div>
    <div class="display-field">@Model.Title</div>

    <div class="display-label">Content</div>
    <div class="display-field">@Model.Content</div>

    <div class="display-label">LastUpdated</div>
    <div class="display-field">@Model.LastUpdated</div>

    <div class="display-label">PublishDate</div>
    <div class="display-field">@Model.PublishDate</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>


