@model AtomBlog.Domain.AtomDomainModel.Blog

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Blog</legend>

    <div class="display-label">Title</div>
    <div class="display-field">@Model.Title</div>

    <div class="display-label">Description</div>
    <div class="display-field">@Model.Description</div>

    <div class="display-label">PublishDate</div>
    <div class="display-field">@Model.PublishDate</div>

    <div class="display-label">LastUpdatedTime</div>
    <div class="display-field">@Model.LastUpdatedTime</div>

    <div class="display-label">Posts</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.Posts).ToString()</div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}


